/Anki2.apkg
/cache
/Data.csv
/desktop.ini
/downloads
/F.py
/ffmpeg
/GG.txt
/jupiter.ipynb
/Machine Learning.ipynb
/main.py
/Reverso.lnk
/s.ipynb
/STRING
/stringart.ipynb
/Telegram.lnk
/temp_apkg
/tmp
/tree.dot
/uTorrent Web.lnk
/Visual Studio Code.lnk
/vpv
/Wireless LAN_Intel_22.180.0.4_W11x64_A.zip
/Расчетный листок (Для печати).pdf
/Яндекс Музыка.lnk
__pycache__/
*.pyc
*.pyo
*.pyd
